body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-size {
  width:400px;
}


.nav-button {
  text-align: center;
  color: black;
  border: 2px solid black;
  padding: 1px 4px;
  background-color: rgb(8, 134, 218);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.create-hat-button {
  text-align: center;
  color: black;
  text-align: center;
  text-decoration: none;
  font-weight:bolder;
}

.card-border {
  border: 2px solid black;
}
